<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>社区主页</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/community.css}">
    <script type="application/javascript" th:src="@{webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script type="application/javascript" th:src="@{webjars/bootstrap/4.3.0/js/bootstrap.min.js}"></script>
    <style>
        .discover-question{
            margin: 0px;
            padding: 0px;
        }
        .question-item{
            margin-top: 20px;
        }
        img{
            margin: 0px;
            padding: 0px;
        }
        .page-control{
            width: 270px;
            right: 30px;
            position: absolute;
        }
    </style>
</head>
<body>
<div class="container-fluid">
   <div th:replace="~{nav::nav}"></div>
    <div class="container-fluid discover-body">
        <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2 class="discover-lable"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现</h2>
            <div class="discover-question">
            </div>
                <nav aria-label="Page navigation" class="page-control">
                <ul class="pagination">
                    <li id="pre" style="visibility: hidden">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page active"><a href="#">1</a></li>
                    <li class="page"><a href="#" >2</a></li>
                    <li class="page"><a href="#">3</a></li>
                    <li class="page"><a href="#">4</a></li>
                    <li class="page"><a href="#">5</a></li>
                    <li id="next">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
                </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px">
            <h4>热门话题</h4>
        </div>
        </div>
    </div>
</div>
<script th:src="@{/js/index.js}"></script>
<script>
    var $page=$('.page');
    $page.click(function () {
            clear();
            var pageNo=$(this).text();
            var res=pageNoReplace(pageNo,$page,this);
            getQuestin(pageNo,10);
            var cur=this;
            $page.each(function () {
                if(this===cur){
                    if(res===0)
                        $(this).attr('class','page active');
                }else{
                    $(this).attr('class','page');
                }
            })
        if(res!==0)
            $($page[4-res]).attr('class','page active');    //jquery对象用[]返回返回的是dom对象
    });
    $page[0].click();   //默认点击第一个
    function pageNoReplace(pageNostr,$page,cur) {

        var pageNo=Number(pageNostr);
        var res=0;
        if(pageNo===1){
            $('#pre').css("visibility","hidden");
        }else {
            $('#pre').css("visibility","visible");
        }

        $('#next').css('visibility','visible');
        if(cur===$page[4]){
            if(pagecount-pageNo>2){
                $page.each(function () {
                    $(this).html('<a href="#" >'+(Number($(this).text())+2)+'</a>');
                });
                res=2;
            }else {
                var var2=pagecount-pageNo;
                if(var2>0){
                    $page.each(function () {
                        $(this).html('<a href="#" >'+(Number($(this).text())+var2)+'</a>');
                    });
                    res=var2;
                }
                $('#next').css('visibility','hidden');
            }
        }
        return res;
    }
    $('#pre').click(function () {
        var num=Number($('.active')[0].text());
        $('page')[num-2].click();
    });
    $('#next').click(function () {
        var num=Number($('.active')[0].text());
        $('page')[num].click();
    })
</script>
</body>
</html>