<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>社区主页</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{/css/community.css}">
    <script type="application/javascript" th:src="@{webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script type="application/javascript" th:src="@{webjars/bootstrap/4.3.0/js/bootstrap.min.js}"></script>
    <style>
        .discover-question{
            margin: 0px;
            padding: 0px;
        }
        .question-item{
            margin-top: 20px;
        }
        img{
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
   <div th:replace="~{nav::nav}"></div>
    <div class="container-fluid discover-body">
        <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2 class="discover-lable"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现</h2>
            <div class="discover-question">
            </div>
            <div class="media question-item">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object user-image" src="https://avatars0.githubusercontent.com/u/48235325?v=4" alt="没有这个图">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">怎么快速学会spring boot 开发</h4>
                    首先spring boot 是一个快速开发框架，是如今java最热门的一个开发框架<br>
                    <span class="des">点赞·10 踩·1 浏览·100 评论·20</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px">
            <h4>热门话题</h4>
        </div>
        </div>
    </div>
</div>
<script>
    $.get("/ajax/getQuestion",{pageNo:1,pageSize:5},function(data){
        if(data.code=='ok'){
            var $discover_question=$('.discover-question');
            $(data.ques).each(function(){
                $discover_question.append("<div class=\"media question-item\">" +
                    "                <div class=\"media-left\">" +
                    "                    <a href=\"#\">" +
                    "                        <img class=\"media-object user-image\" src=\""+ this.picurl+"\" alt=\"没有这个图\">" +
                    "                    </a>" +
                    "                </div>" +
                    "                <div class=\"media-body\">" +
                    "                    <h4 class=\"media-heading\">"+this.questionBean.title+"</h4>" +
                    "                    "+this.questionBean.content+"<br>" +
                    "                    <span class=\"des\">点赞·"+this.questionBean.like+" 踩·"+this.questionBean.shit+" 浏览·"+this.questionBean.read+" 评论·20</span>" +
                    "                </div>" +
                    "                       </div>");
            });
        }
    },'json');

</script>
</body>
</html>